{% if element.aliases %}
## Aliases

{% for alias in element.aliases %}
* {{ alias }}
{%- endfor %}
{% endif %}


{% if element.examples %}
## Examples
{% if element.any_of or element.range %}
| Types involved | Subject | Predicate | Object |
| --- | --- | --- | --- |
{% for x in element.examples -%}
| {{ x.description }} | {{ x.object.example_subject }} | {{ x.object.example_predicate }} | {{ x.object.example_object }} |
{% endfor %}
{% else %}
| Value |
| --- |
{% for x in element.examples -%}
| {{ x.value }} |
{% endfor %}
{% endif %}
{% endif -%}

{% if element.comments -%}
## Comments

{% for x in element.comments -%}
* {{x}}
{% endfor %}
{% endif -%}

{% if element.todos -%}
## TODOs

{% for x in element.todos -%}
* {{x}}
{% endfor %}
{% endif -%}

{% if element.see_also -%}
## See Also

{% for x in element.see_also -%}
* {{ gen.uri_link(x) }}
{% endfor %}
{% endif -%}
