{% if element.aliases %}
## Aliases

{% for alias in element.aliases %}
* {{ alias }}
{%- endfor %}
{% endif %}


{% if element.examples %}
## Examples
{% if element.any_of or element.range %}
| Subject type | Object type | Example subject | Example object | Occurrences |
| --- | --- | --- | --- | --- |
{% for x in element.examples -%}
| {{ x.object.example_subject_type }} | {{ x.object.example_object_type }} | {{ x.object.example_subject }} | {{ x.object.example_object }} | {% if x.object.example_subject_type == 'None' %}{{ element.annotations[x.object.example_object_type].value }}{% else %}{% if element.name in schemaview.get_class(x.object.example_subject_type).slot_usage %}{{ schemaview.get_class(x.object.example_subject_type).slot_usage[element.name].annotations[x.object.example_object_type].value }}{% else %}{% endif %}{% endif %} |
{% endfor %}
{% else %}
| Value |
| --- |
{% for x in element.examples -%}
| {{ x.value }} |
{% endfor %}
{% endif %}
{% endif -%}

{% if element.comments -%}
## Comments

{% for x in element.comments -%}
* {{x}}
{% endfor %}
{% endif -%}

{% if element.todos -%}
## TODOs

{% for x in element.todos -%}
* {{x}}
{% endfor %}
{% endif -%}

{% if element.see_also -%}
## See Also

{% for x in element.see_also -%}
* {{ gen.uri_link(x) }}
{% endfor %}
{% endif -%}
